Note: the below functioneal requirements are from the questionnairre responses
## 1. Problem Understanding - Describe the problem your system solves.
System purpose:The objectivbe of the system is to recommend appointment time slots in the user given window of working hours where a potential meeting can be scheduled, ensuring they do not clash with the user-given busy hours/intervals.The system must behave deterministically and also resolve scheduling conflicts automatically without the user intervening. It should throw explicit errors instead of handling edge cases silently. Lastly, it should support the users who trust the system decisions and the ones  who rely on explainable outputs.


Inputs to the system:

 start time: str -- format = ("00:00" - "23:59")
 end time: str -- format =  ("00:00" - "23:59")
 busy interval: list[tuple(str)] --- format = [(start_time_i, end_time_i), (start_time_j, end_time_j] 
buffer time: int (any integer which will correspond to minutes between 2 meetings)
 meeting duration: int (same format as above - it will translate to minutes per meeting)
 candidate time window: list[tuple(str)]  -- format =  [(candidate_start_time, candidate_end_time)] this is an optional parameter
number of slots (N): int 

## 2. Assumptions - List assumptions about the environment, users, or inputs.
A1:
It is assumed that the times are for a single day and not more than that
A2:
It is assumed that the times provided are in 24 hour format containing only hours and minutes
A3:
It is assumed that the buffer time is consistent across all the meetings/ same buffer time applies after every meeting
A4:
It is assumed that the meeting duration is same for all meetings
A5:
It is assumed that the working window is not always the normal working hours from 09:00-17:00
A6:
It is assumed that the system can automatically make decisions to resolve scheduling conflicts

## 3. Functional Requirements - Describe the main behaviors the systemmust perform.
FR1:
The system shall raise a distinct error when startTime is larger than or equal to endTime
FR2:
The system shall raise a distinct error when duration is less than or equal to zero
FR3:
The system shall raise a distinct error when N is less than or equal to zero
FR4:
The system shall return an empty list when no bookable slot can be scheduled


## 4. System Constraints - Constraints are conditions the system must
always respect. Each constraint should reference the persona attribute
it originates from.
C1: The system shall resolve scheduling conflicts automatically
Derived from persona attribute: Jane (expects automatically handling conflicts)


C2: The system shall not produce different outputs for identical inputs over simultaneous calls
Derived from persona attribute: Jane (Systems behave inconsistently in similar situations.)



C3: The system shall not spam the user with too many notifications, including failures/conflicts resolved/ and duplicate slots generated
Derived from persona attribute: Jane (Having to manually resolve conflicts or check system correctness.)

C4: The system must gracefully hadle errors with describing the error messages 
Derived from persona attribute: Mo (Not understanding why the system changed or rejected an action.)

C5: The system shall log the justifications for resolving conflicts/not being able to generate slots
Derived from persona attribute: Mo (Silent failures or dropped reminders/requests.)

C6: The system shall have a consistent response for any boundary scenario
Derived from persona attribute: Mo (Inconsistent responses across repeated or boundary scenarios.)


## 5. Acceptance Criteria - Acceptance criteria define how system
behavior will be verified.
AC1:
Given working hours 17:00 - 9:00 am
When system generates slots
Then it shall raise a ValueError("Start time must be less than the end time")
Linked Constraint ID(s): C4



AC2:
Given working hours 9- 10 and busy intervas [(9:10,9:50)] and duration = 60 minutes, buffer=0, N=1
When system generates slots
Then it shall return []
Linked Constraint ID(s): C1, C3

AC3: 

Given working hours 09-17:00, duration=0 
When system generates slots
Then it shall raise a ValueError("Duration value must be > 0 ")
Linked Constraint ID(s): C4

AC4:

Given working hours 09-13:00 busy intervals [(7:00,8:00),(14:00,16:00)], meeting duration= 60 minutes, buffer=0, N=3
When system generates slots 
Then it shall return [(9:00,10:00),(10:00,11:00),(11:00,12:00)]
Linked Constraint ID(s): C2



AC5:
Given working hours 0::9-12:00  no busy intervals , meeting duration= 30 minutes, buffer=0, N=10
When system generates slots 
Then it shall return slots each of duration 30 minutes between 9-12, where the total number of slots <= N
Linked Constraint ID(s): C5, C6





AC6:

Given working hours 09:00-12:00   busy intervals [(10:30, 09:30)] , meeting duration= 30 minutes, buffer=0, N=1
When system generates slots 
Then it shall raise ValueError("Busy interval Start time must be less than busy interval end time")
Linked Constraint ID(s): C4

AC7:
Given working hours 09.:00 - 17:00 am and N=0
When system generates slots
Then it shall raise a ValueError("Invalud Value of N, N cannot be <=0")
Linked Constraint ID(s): C4


## 6. Edge Cases - Describe unusual or boundary situations the system
must handle.
EC1:
If no free time in the working window, the system shall return an empty list. 
EC2: 
If the start_time > end_time for the working window, the system shall raise a ValueError with a relevant message 

EC3:
If the start_time > end_timee in the  busy interval, the system shall raise a ValueError with a relevant message 

## 7. Traceability - Link functional requirements to constraints and acceptance criteria. FR → C → AC mapping
FR1 -> C4 -> AC1
FR2 -> C4 -> AC3
FR3 -> C4 -> AC7
FR4 -> C1 -> AC2
FR1 -> C5 -> AC6
FR3 -> C5 -> AC7


Revision Notes

Note: LLM has mostly identified missing functional requirements and thus the reason for some of the below revision notes are same, for other ambiguities the relevant reasons are sstated

1.
• the requirement that was changed or added
    The end_time should be inclusive. 
• the reason for the revision
It was not specified in the Functional Requirements
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback

2.

• the requirement that was changed or added
    Yes, the meeting can end exactly when a busy interval starts. 
• the reason for the revision
It was not specified in the Functional Requirements
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback.

3.
• the requirement that was changed or added
    Yes, the meeting can start exactly when a busy interval starts. 
• the reason for the revision
It was not specified in the Functional Requirements
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback

4.


• the requirement that was changed or added
    Overlapping busy intervals are allowed, and they should be merged automatically. 
• the reason for the revision
It was not specified in the Functional Requirements
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback

5.

• the requirement that was changed or added
   The system should ignore busy intervals outside a working window. 
• the reason for the revision
It was not specified in the Functional Requirements
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback

6.

• the requirement that was changed or added
     The system should ignore busy intervals outside a working window even if the are partially outside. 
• the reason for the revision
It was not specified in the Functional Requirements
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback


7.

• the requirement that was changed or added
     The system shall sort busy intervals automatically. 
• the reason for the revision
It was not specified in the Functional Requirements
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback

8.

• the requirement that was changed or added
     The system shall scheduled slots only in candidate time window if they are provided. 
• the reason for the revision
It was not specified in the Functional Requirements
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback

9.

• the requirement that was changed or added
     It is assumed that the candidate windows dont overlap and fall outside working hours. 
• the reason for the revision
It was not stated under constraints/assumptions
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback

10.

• the requirement that was changed or added
     It is assumed that the buffer time applies between 2 meetings 
• the reason for the revision
It was not stated under constraints/assumptions
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback

11.

• the requirement that was changed or added
     The system shall schedule sequentially N slots of size duration (+buffer time if provided), with earliest first approach
• the reason for the revision
The slot scheduleing strategy was not included inf functional requirements
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback


12.


• the requirement that was changed or added
     The system shall schedule only upto N slotes in the working window
• the reason for the revision
The slot scheduleing strategy was not included inf functional requirements
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback

13.


• the requirement that was changed or added
     The system shall adhere to the input format for each parameter
• the reason for the revision
It was not mentioned in assumptions
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback


14.


• the requirement that was changed or added

     The system shall return empty list if duration exceed the working window limit
• the reason for the revision
It was not mentioned in functional requirements
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback


15.


• the requirement that was changed or added
     The system shall  schedule slots with in the working window including the buffer time
• the reason for the revision
The buffer time addition exceeding the working window for slot scheduleing was not clarfied in the assumptions
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback

16.


• the requirement that was changed or added
     The system must return sorted list of slotes in the format [(start_time,end_time)]
• the reason for the revision
The output format was not explicitely specified under functional requirements
• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback


17.


• the requirement that was changed or added
     The system shall return the error message as strings
• the reason for the revision
The output format for error messagees was not explicitely specified under functional requirements

• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback


18.

• the requirement that was changed or added
     It is assumed that the system shall log justifications for removed slots,merged busy intervals, reasons for no slots
• the reason for the revision
It was not specified as an assumption

• whether the change was triggered by LLM feedback
Yes it was triggered by LLM feedback


